.screen-full {
    width: 100%;
    height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .screen-full .container {
    max-width: 700px;
  }
  
  @media(max-width: 680px) {
    .screen-full .container {
      max-width: 100vw;
      padding: 0px 40px;
    }
  }
  
  @media(max-width: 520px) {
    .screen-full .container {
      max-width: 100vw;
      padding: 0px 20px;
    }
  }
  
  .screen-full header img {
    max-height: 250px;
    max-width: 75%;
  }

  @import url(https://db.onlinewebfonts.com/c/5237a1e3a872fc2e31712575aa39235b?family=Visby+Round+CF+Heavy);
  
  @font-face {
    font-family: "Visby Round CF Heavy";
    src: url("https://db.onlinewebfonts.com/t/5237a1e3a872fc2e31712575aa39235b.eot");
    src: url("https://db.onlinewebfonts.com/t/5237a1e3a872fc2e31712575aa39235b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5237a1e3a872fc2e31712575aa39235b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5237a1e3a872fc2e31712575aa39235b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5237a1e3a872fc2e31712575aa39235b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5237a1e3a872fc2e31712575aa39235b.svg#Visby Round CF Heavy")format("svg");
}

  .screen-full header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .screen-full div {
    margin-bottom: 32px;
  }

  .screen-full h1 {
    font-size: 80px;
    margin-bottom: 16px;
    text-align: center;
    font-family: "Visby Round CF Heavy"; /* Update the font-family here */
  }
  
  .screen-full p {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    font-family: "Visby Round CF Heavy";
  }
  
  .screen-full footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .screen-full a {
    background-color: #FFC0CB; /* Light pink button background */
    padding: 16px 24px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 4px 8px rgba(0,0,0,.25);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: .2s;
  }
  
  .screen-full a:hover {
    cursor: pointer;
    filter: brightness(1.2);
    box-shadow: 6px 8px 12px rgba(0,0,0,.25);
  }
  